# Any private crt and keys #
############################
*.crt
!default.crt
*.key
!default.key
*.jwt
*~
\#*

# NGINX Plus state files
*.state

# OS Specific #
###############
Thumbs.db
.DS_Store
.vscode

# Logs #
########
*.log

# NGINX Ingress Cloned Repo #
#############################
kubernetes-ingress/
nginx-loadbalancer-kubernetes/